*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;

    background-color: #C0FFEE;

    font-family: sans-serif;
}

#root {
    display: grid;

    border: 1px solid black;
    padding: 2rem;
    background-color: papayawhip;
}

form {
    display: flex;
    flex-direction: column;
    
    gap: 1rem;   
}

label {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

label span {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    
    grid-column: span 12; 
}

label input {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    
    grid-column: span 12; 
}

#annoy {
    height: 1rem;
}

footer {
    background-color: pink;
    
}
@media screen and (min-width: 50rem) {
    label span {
        grid-column: span 4;
    }

    label input {
        grid-column: span 8;
        align-items: left;
    }  
}
